@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  
  --c1: hsla(174, 21%, 20%, 1);
  --c2: hsla(184, 66%, 28%, 1);
  --c3: hsla(22, 41%, 88%, 1);
  --c4: hsla(6, 57%, 49%, 1);
  --c5: hsla(7, 53%, 31%, 1);

  background-color: var(--color4);
}

h1{
  background-color: var(--color1);
}