@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  --c1: hsla(174, 21%, 20%, 1);
  --c2: hsla(184, 66%, 28%, 1);
  --c3: hsla(22, 41%, 88%, 1);
  --c4: hsla(6, 57%, 49%, 1);
  --c5: hsla(7, 53%, 31%, 1);

  background-color: var(--c2);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--c4);
  font-family: 'Press Start 2P';
  font-size: .8em;
  padding: 20px;
  border: solid 10px var(--c5);
  margin: 10px;
  color: var(--c3);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: solid 10px var(--c1);
  list-style-type: none;
  padding: 20px;
  margin: 10px;
  font-family: 'Press Start 2P';
  letter-spacing: 5px;
  font-size: 1.2em;
  background-color: var(--c3);
}

main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 50px;
  border: solid 10px var(--c5);
  background-color: var(--c3);
}

input {
  display: flex;
  flex-direction: column;
  
  border: solid 4px var(--c1);
  margin-bottom: 5px;
  font-size: 1.2em;
}

select {
  display: flex;
  flex-direction: column;
  border: solid 2px var(--c1);
  background-color: var(--c1);
  color: var(--c3);
  font-size: 1.2em;
}

button {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Press Start 2P';
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 50px;
}

.pokeDisplay {
  border: solid 10px var(--c5);
  margin-left: 20px;
  background-color: var(--c3);
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

h2 {
font-family: 'Press Start 2P';
font-size: 1.2em;
padding-left: 50px;
color: var(--c5);
}

img {
  height: 200px;
  width: 200px;
}

p {
  font-family: 'Press Start 2P';
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--c4);
  border: solid 10px var(--c5);
  margin: 10px;
  color: var(--c3);
  font-family: 'Press Start 2P';
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');